body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Notas{
  text-align: center;
}

.notas{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;


}

.nota{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
Header {
  margin: auto;
  font-size: 4vh;

}
.note{
  width: 18rem;
  margin: 1vh;
  align-items: center;
  float: left;
}
.Notas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  margin-top: 12px;
  /* position: absolute; */
  /* margin-left: 30px; */
}

.gh-bottom{
  text-align: center;
}
.botones{
  width: 100%;
}

.ListNotas{
  align-items: center;
  text-align: center;
}

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  padding: 0px 7px;
}

.bottom{
  align-items: center;

}

.app {
  display: flex;
  flex-direction: column;
}
